<dom-module id="raphael-image">
  <template>
    <style>
    </style>
    <h2>Une image</h2>
    <div id="image"></div>

  </template>

  <script>
    Polymer({

      is: 'raphael-image',
      ready: function () {

        var paper = Raphael("image", "100%", 200);

        var image = paper.image(
          '../../images/02.png', 0,0, 8762/2, 477/2
        ).drag(
          function (dx) {
            this.attr({x: this.ox + dx});
          },
          function (x) {
            this.ox = this.attr("x");
          }
        );
      }
    });
  </script>
</dom-module>
