<link rel="import" href="/src/sc-cursor/sc-cursor.html">

<dom-module id="sc-scrollable-container">
    <template>
        <iron-signals on-iron-signal-scroll="_scroll"></iron-signals>
        <iron-media-query query="max-width:1200px" query-matches="{{smallScreen}}"></iron-media-query>
        <iron-ajax auto url="{{positions}}" handle-as="json" on-response="handleResponse" debounce-duration="300"></iron-ajax>
        <template is="dom-if" if={{!smallScreen}}>
            <div class="dragscroll" style="overflow-x: auto; position: relative;" id="scrollable" on-scroll="_scrollHandler">
                <content></content>
            </div>
        </template>
        <template is="dom-if" if={{smallScreen}}>
            <div style="overflow-y: hidden;" id="scrollable" on-scroll="_scrollHandler">
                <content></content>
            </div>
            <style>
                @media (orientation:portrait) {
                     :root {
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                }
            </style>
        </template>
    </template>

    <script>
        Polymer({
            is: 'sc-scrollable-container',

            listeners: {
                'down': 'down',
                'track': 'track',
                'up': 'up'
            },

            attached: function (event) {
                this.scroll = true;
                if (navigator.vendor == "Google Inc.") {
                    this.lim = 500
                }
                else {
                    this.lim = 2000000
                }
                this.positions = this.getContentChildren()[1].positions
            },

            handleResponse: function (data) {
                this.musicalmap = new scMusicalMap.MusicalMap()
                this.musicalmap.setPositions(data.detail.response.notes);
            },


            //Listeners

            _scrollHandler: function (event) {
                var x = document.getElementById("scrollable").scrollLeft
                this.fire('iron-signal', {
                    name: 'scroll',
                    data: {
                        x: this.musicalmap.toMusicalOnset(x),
                        id: event.target.id
                    }
                })
            },

            down: function (event) {
                if (this.getTargetId(event) == "content") {
                    this._down(event);
                }
                else {
                    event.preventDefault();
                    this.other = true;
                }
            },

            _down: function (event) {
                this.start = event.timeStamp;
                var self = this
                this.timeout = window.setTimeout(function () {
                    self.scroll = false;
                    event.preventDefault();
                }, this.lim)
                if (!self.scroll) {
                    event.preventDefault();
                }
            },

            track: function (event) {

                if (this.other) {
                    event.preventDefault();
                }

                if (event.detail.state == "start") {
                    this.setLimit(event);
                }

                //si click long on désactive le scroll
                if (this.duration > this.lim) {
                    this.disableScroll(event);
                }

                //on réactive le scroll à la fin du track
                if (event.detail.state == "end") {
                    this.enableScroll(event);
                }
            },

            up: function (event) {
                window.clearTimeout();
                this.scroll = true;
                this.other = false;
            },

            //Iron-Signals

            _scroll: function (event, detail) {
                if (detail.id != "scrollable") {
                    var x = detail.x
                    if (x != 0)
                        x = this.musicalmap.toGraphicalX(detail.x)
                    document.getElementById("scrollable").scrollLeft = x
                }
            },

            //Library

            setLimit: function (event) {
                this.duration = event.timeStamp - this.start
            },

            disableScroll: function (event) {
                if (!this.smallScreen) {
                    document.getElementById("scrollable").removeAttribute("class");
                    dragscroll.reset();
                }
            },

            enableScroll: function (event) {
                if (!this.smallScreen) {
                    document.getElementById("scrollable").setAttribute("class", "horizontal dragscroll");
                    dragscroll.reset();
                }
            },

            getTargetId: function (event) {
                return event.target.id;
            }
        })
    </script>
</dom-module>
