<dom-module id="sc-mini-map-container">
    <template>
        <iron-signals on-iron-signal-scroll="_scroll"></iron-signals>
        <iron-media-query query="max-width:760px" query-matches="{{smallScreen}}"></iron-media-query>
        <iron-ajax
            auto
            url="{{positions}}"
            handle-as="json"
            on-response="handleResponse"
            debounce-duration="300"></iron-ajax>
        <template is="dom-if" if={{!smallScreen}}>
            <content></content>
        </template>
        <template is="dom-if" if={{smallScreen}}>
            <px-drawer swipe-open="true" align="bottom" overlay="true">
                <content></content>
            </px-drawer>
        </template>
    </template>

    <script>
        Polymer({
            is:'sc-mini-map-container',

            listeners: {
                'down':'down',
                'track':'track'
            },

            attached : function() {
                this.positions = this.getContentChildren()[0].positions
                console.log(this.positions)
            },

            //Listeners

            down:function(event) {
                if(event.target.id == "frame")
                    event.preventDefault();
            },

            track: function(event) {
                if (event.target.id == "frame") {
                    this.getFrame('sc-mini-map')
                    this.frame.move(event.detail.x)
                    var x = this.frame.getPosition() * this.frame.getRatio()
                    this.fire('iron-signal', {
                        name:'scroll',
                        data: {
                            x: this.musicalmap.toMusicalOnset(x),
                            id:event.target.id
                        }
                    })
                }
            },

            handleResponse:function(data) {
                this.musicalmap = new scMusicalMap.MusicalMap()
                this.musicalmap.setPositions(data.detail.response.notes);
            },


            //iron-signals

            _scroll:function(event,detail) {
                if (detail.id != "frame") {
                    this.getFrame('sc-mini-map')
                    var x = detail.x
                    if (x != 0)
                        x = this.musicalmap.toGraphicalX(detail.x)/this.frame.getRatio()
                    this.frame.setPosition(x)
                }
            },

            //Library

            getFrame:function(name) {
                var el = document.getElementsByTagName(name)[0]
                this.frame = el.view.getFrame();
            }
        })
    </script>
</dom-module>
