<dom-module id="sc-debug">
  <template>
    <iron-signals on-iron-signal-debug="handleDebug"></iron-signals>
    <div>{{debug}}</div>
  </template>

  <script>
    Polymer({

      is: 'sc-debug',
      ready: function () {
        this.debug = "DEBUG!"
      },
      handleDebug: function (e, detail, sender) {
        this.debug = detail;
      }

    });
  </script>
</dom-module>
