<dom-module id="raphael-scale">
  <template>
    <style>
    </style>
    <h2>Resize both</h2>
    <div id="scale"></div>
  </template>

  <script>
    Polymer({

      is: 'raphael-scale',
      ready: function () {

        var paper = Raphael("scale", "100%", 50);

        var rectangle = paper.rect(
          370, 0, 260, 50, 10
        ).attr (
          {
            fill: "#f00",
            stroke: "#fff",
            opacity: "0.2"
          }
        ).drag (
          function (dx) {
            if (this.scale_direction === "right") {
              this.attr({width: this.owidth + dx});
            } else {
              this.attr({width: this.owidth - dx, x: this.ox + dx});
            }
          },
          function (x, event) {
            if ( x - this.attr("x") < this.attr("width")/2 ) {
              this.scale_direction = "left";
            } else {
              this.scale_direction = "right";
            }
            this.owidth = this.attr("width");
            this.ox = this.attr("x");
          }
        );
      }
    });
  </script>
</dom-module>
