<dom-module id="fabric-rectangle">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <canvas id="canvas-rectangle" width="500" height="500" style="border: solid">
        You browser does not support canvas!
    </canvas>
  </template>

  <script>
    Polymer({

      is: 'fabric-rectangle',
      ready: function () {
        var canvas = new fabric.Canvas('canvas-rectangle');

        var rect = new fabric.Rect({
          left: 100,
          top: 100,
          fill: 'red',
          width: 100,
          height: 100,
          opacity: 0.2,
          angle: 45
        });

        canvas.add(rect);

        rect.set({ left: 200, top: 50 });
        canvas.renderAll();

      }

    });
  </script>
</dom-module>
