<!-- polyfill -->
<script src="/bower_components/midi/inc/shim/Base64.js"></script>
<script src="/bower_components/midi/inc/shim/Base64binary.js"></script>
<script src="/bower_components/midi/inc/shim/WebAudioAPI.js"></script>
<script src="/bower_components/midi/inc/shim/WebMIDIAPI.js"></script>
<!-- jasmid package -->
<script src="/bower_components/midi/inc/jasmid/stream.js"></script>
<script src="/bower_components/midi/inc/jasmid/midifile.js"></script>
<script src="/bower_components/midi/inc/jasmid/replayer.js"></script>
<!-- midi.js package -->
<script src="/bower_components/midi/js/midi/audioDetect.js"></script>
<script src="/bower_components/midi/js/midi/gm.js"></script>
<script src="/bower_components/midi/js/midi/loader.js"></script>
<script src="/bower_components/midi/js/midi/plugin.audiotag.js"></script>
<script src="/bower_components/midi/js/midi/plugin.webaudio.js"></script>
<script src="/bower_components/midi/js/midi/plugin.webmidi.js"></script>
<script src="/bower_components/midi/js/midi/player.js"></script>
<script src="/bower_components/midi/js/midi/synesthesia.js"></script>
<!-- utils -->
<script src="/bower_components/midi/js/util/dom_request_xhr.js"></script>
<script src="/bower_components/midi/js/util/dom_request_script.js"></script>