<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="../../bower_components/Snap.svg/dist/snap.svg-min.js"></script>
<script type="text/javascript" src="../../lib/sc-utils.js"></script>
<script type="text/javascript" src="../../lib/sc-graphics.js"></script>
<script type="text/javascript" src="../../lib/sc-musical-map.js"></script>
<script type="text/javascript" src="../../lib/sc-grid.js"></script>

<dom-module id="sc-score">

    <template>

        <style>
          .vertical-line-line {
            opacity: 0.25;
          }

          .vertical-line-text {
            opacity: 0.25;
            text-anchor: middle;
          }

          .glab-text {
            opacity: 0.5;
          }
        </style>

        <iron-signals on-iron-signal-clear-labels="handleClearLabel"></iron-signals>
        <iron-signals on-iron-signal-add-label="handleAddLabel"></iron-signals>
        <iron-signals on-iron-signal-delete-label="handleDeleteLabel"></iron-signals>
        <iron-signals on-iron-signal-label-has-changed="handleLabelHasChangedSignal"></iron-signals>
        <iron-signals on-iron-signal-delete-button-pressed="handleDeleteButtonPressedSignal"></iron-signals>

        <svg id$="{{id}}-svg" width$="{{bgWidth}}" height$="{{bgHeight}}"></svg>

        <iron-ajax
            auto
            url="{{positions}}"
            handle-as="json"
            on-response="handleResponse"
            debounce-duration="300">
        </iron-ajax>

    </template>
    <script>

        Polymer({

            is: 'sc-score',

            properties: {
                id: String,
                bg: {
                    type: String,
                    observer: '_bgChanged'
                },
                positions: String,
                bgWidth: {
                    type: Number,
                    value: 0
                },
                bgHeight: {
                    type: Number,
                    value: 0
                },
                ratio: {
                    type: Number,
                    value: 1
                }
            },

            //
            // OBSERVERS
            //

            _bgChanged: function (newvalue, oldvalue) {
                if (this.image) {
                    this.image.src = this.bg;
                }
            },

            //
            // INIT
            //

            _createScoreImage: function(){
                if (this.ratio != 1) {
                    this.bgHeight = this.image.naturalHeight*this.ratio;
                    this.bgWidth = this.image.naturalWidth*this.ratio;
                } else if (this.obgWidth != 0 && this.obgHeight == 0) {
                    this.ratioWidth = this.bgWidth/this.image.naturalWidth;
                    this.ratioHeight = this.ratioWidth;
                    this.bgHeight = this.image.naturalHeight*this.ratioHeight;
                } else if ( this.obgWidth == 0 && this.obgHeight != 0){
                    this.ratioHeight = this.bgHeight/this.image.naturalHeight;
                    this.ratioWidth = this.ratioHeight;
                    this.bgWidth = this.image.naturalWidth*this.ratioWidth;
                } else if ( this.obgWidth != 0 && this.obgHeight != 0){
                    this.ratioWidth = this.bgWidth/this.image.naturalWidth;
                    this.ratioHeight = this.bgHeight/this.image.naturalHeight;
                } else if ( this.obgWidth == 0 && this.obgHeight == 0) {
                    this.bgWidth = this.image.naturalWidth;
                    this.bgHeight = this.image.naturalHeight;
                }
                this.map.setRatio(this.ratioWidth)
                this.grid.setRatio(this.ratioWidth)
                this.scoreImage.setImage(
                    this.bg,
                    this.image.naturalWidth,
                    this.image.naturalHeight,
                    this.ratioWidth,
                    this.ratioHeight,
                    this.grid
                );
            },

            ready: function () {
                this.map = new scMusicalMap.MusicalMap();
                this.grid = new scGrid.Grid();
                this.scoreImage = new scGraphics.ScoreImage(this.$$("#" + this.id + "-svg"));
                this.obgWidth = this.bgWidth;
                this.obgHeight = this.bgHeight;
                this.ratioWidth = this.ratio;
                this.ratioHeight = this.ratio;
                this.image = new Image();
                this.image.addEventListener("load", this._createScoreImage.bind(this));
                this.image.src = this.bg;
                this.editMode = true;
                this.labelType = "S";

                if (navigator.vendor == "Google Inc.") {
                    this.lim = 500
                    this.clicklim = 300
                }
                else {
                    this.lim = 2000000
                    this.clicklim = 150000
                }
            },

            //
            // LISTENERS
            //

            listeners: {
                'track': 'track',
                'tap': 'tap',
                'down': 'down'
            },

            track: function (event) {
                event.preventDefault();
                this.currentGlab = this._getTrackedGlab(event)
                if (this.currentGlab && this.currentGlab.draggable) {
                    if (event.detail.state == "start") {
                        var relativeX = this._xRelativeToSVG(event.detail.x)
                        this.currentGlab.dragStart(relativeX)
                        this.scoreImage.select(this.currentGlab);
                        this._asksToDisplayLabelData(this.currentGlab);
                    } else if (event.detail.state == "track") {
                        this.currentGlab.dragMove(event.detail.dx)
                        this._broadcastLabelState(this.currentGlab);
                    }
                }
            },

            down: function (event) {
                event.preventDefault()
            },

            tap: function (event) {
                event.preventDefault();
                if (this.justTapped) {
                    this.justTapped = false;
                    this._doubleTap(event);
                } else {
                    this._simpleTap(event);
                    this.justTapped = true;
                    this.async(function () {
                        if (this.justTapped) {
                            this.justTapped = false;
                        }
                    }, this.clicklim)
                }
            },

            _simpleTap: function (event) {
                if (this._tapOnBackground(event)) {
                    try {
                        var relativeX = this._xRelativeToSVG(event.detail.x)
                    } catch (exception) {
                        return;
                    }
                    var relativeY = this._yRelativeToSVG(event.detail.y);
                    if (this.scoreImage.onFooter(relativeY)) {
                        if (this.scoreImage.hasNoVerticalLineHere(relativeX)) {
                            this._createCadence(relativeX)
                        }
                    } else if (this.scoreImage.onHeader(relativeY)) {
                        this._createGlobal(relativeX);
                    } else if (this.scoreImage.betweenStaffs(relativeY)) {
                        console.log("Tap between 2 staffs");
                    } else {
                        var gstaff = this.scoreImage.getStaffAt(relativeY);
                        this._createStaffLabel(relativeX, gstaff)
                    }
                } else {
                    this.currentGlab = this._getTrackedGlab(event);
                    if (this.currentGlab) {
                        this.scoreImage.select(this.currentGlab);
                        this._asksToDisplayLabelData(this.currentGlab);
                    }
                }
            },

            _doubleTap (event) {
                console.log("double tap!");
            },

            _tapOnBackground: function (event) {
                var target = Polymer.dom(event).rootTarget;
                return target.nodeName == "image";
            },

            _getTrackedGlab: function (event) {
                var target = Polymer.dom(event).rootTarget;
                return this.scoreImage.getGlabById(target.id);
            },

            //
            // SIGNAL HANDLERS
            //

            handleLabelHasChangedSignal: function (e, detail, sender) {
                if (detail.sender != this.id) {
                    var glab = this.scoreImage.getGlabById(detail.id);
                    if (detail.duration) {
                        glab.resize(
                            this.map.toGraphicalLength(
                                detail.start,
                                detail.duration
                            )
                        );
                    }
                    if (detail.type) {
                        glab.setColor(scUtils.typeToColor(detail.type));
                    }
                    glab.moveTo(this.map.toGraphicalX(detail.start));
                    glab.setText(detail.tag)
                }
            },

            handleDeleteButtonPressedSignal: function (e, detail, sender) {
                if (detail.target == this.id) {
                    var deletedLabelId = this.scoreImage.deleteSelectedElement();
                    this.fire(
                        'iron-signal',
                        {
                            name: 'delete-label',
                            data: {
                                labelId: deletedLabelId,
                                sender: this.id
                            }
                        }
                    );
                }
            },

            handleDeleteLabel: function (e, detail, sender) {
                if (detail.sender != this.id) {
                    var glab = this.scoreImage.getGlabById(detail.labelId);
                    glab.remove();
                }
            },

            handleAddLabel: function (e, detail, sender) {
                if (detail.sender != this.id) {
                    try {
                        var glab;
                        var x = this.map.toGraphicalX(detail.start);
                        if (detail.labelType == "Cad") {
                            glab = this.scoreImage.createVerticalLine(x, detail.tag, detail.id);
                        } else if (detail.labelType == "Structure" || detail.labelType == "Pedal") {
                            glab = this.scoreImage.createGglab(x, detail.id, detail.tag);
                            var newlength = this.map.toGraphicalLength(
                                detail.start,
                                detail.duration
                            )
                            glab.resize(newlength);
                        } else {
                            this.gstaff = this.scoreImage.getStaff(detail.staffIndex - 1);
                            glab = this.gstaff.createGlabOn(x, detail.tag, detail.id);
                            var newLength = this.map.toGraphicalLength(
                                detail.start,
                                detail.duration
                            );
                            glab.resize(newLength);
                        }
                        var color = scUtils.typeToColor(detail.labelType)
                        glab.setColor(color)
                        this.scoreImage.select(glab);
                    } catch (e) {
                        return
                    }
                }
            },

            handleClearLabel: function () {
                this.scoreImage.clearGlabs();
            },

            //
            // SIGNAL SENDERS
            //

            _createCadence (x) {
                var start = this.map.toMusicalOnset(x)
                var tag = "PAC"
                var glab = this.scoreImage.createVerticalLine(x, tag);
                var color = scUtils.typeToColor('Cad')
                glab.setColor(color)

                this.fire(
                    'iron-signal',
                    {
                        name: 'add-label',
                        data:  {
                            start: start,
                            labelType: "Cad",
                            id: glab.id,
                            tag: tag,
                            sender: this.id
                        }
                    }
                );
                this.scoreImage.select(glab);
                this._asksToDisplayLabelData(glab);
            },

            _createGlobal (x, type = "Structure") {
                var start = this.map.toMusicalOnset(x)
                var defaultDuration = 4.0;
                var glab = this.scoreImage.createGglab(x);
                var color = scUtils.typeToColor(type)
                glab.setColor(color)
                var newlength = this.map.toGraphicalLength(
                    start,
                    defaultDuration
                )
                glab.resize(newlength);
                this.scoreImage.select(glab);
                this.fire(
                    'iron-signal',
                    {
                        name: 'add-label',
                        data:  {
                            start: start,
                            duration: defaultDuration,
                            labelType: type,
                            id: glab.id,
                            tag: "-",
                            sender: this.id
                        }
                    }
                );
                this._asksToDisplayLabelData(glab);
            },

            _createStaffLabel (x, gstaff) {
                var start = this.map.toMusicalOnset(x)
                var type = "patternA";
                var tag = ""
                var defaultDuration = 4.0;
                var color = scUtils.typeToColor(type);
                var glab = gstaff.createGlabOn(x, tag);
                glab.setColor(color)
                var newlength = this.map.toGraphicalLength(
                start,
                defaultDuration
                )
                glab.resize(newlength);
                this.scoreImage.select(glab);
                this.fire(
                'iron-signal',
                {
                    name: 'add-label',
                    data:  {
                        start: start,
                        duration: defaultDuration,
                        labelType: type,
                        staffIndex: gstaff.index + 1,
                        tag: tag,
                        id: glab.id,
                        sender: this.id
                    }
                }
                );
                this._asksToDisplayLabelData(glab);
            },

            _asksToDisplayLabelData: function (glab) {
                this.fire(
                    'iron-signal',
                    {
                        name: 'edit-label',
                        data:  {
                            id: glab.id
                        }
                    }
                );
            },

            _broadcastLabelState: function (glab) {
                this.fire(
                    'iron-signal',
                    {
                        name: 'label-has-changed',
                        data:  {
                            id: glab.id,
                            start: this.map.toMusicalOnset(glab.getX()),
                            duration: this.map.toMusicalDuration(
                                glab.getX(),
                                glab.getWidth()
                            ),
                            sender: this.id
                        }
                    }
                );
            },

            handleResponse: function (data) {
                this.scoreImage.setStaffsPos(data.detail.response);
                this.scoreImage.createBarNumbers(data.detail.response);
                this.map.setPositions(data.detail.response.notes)
                this.grid.setPositions(data.detail.response.notes)
                this.fire(
                    'iron-signal',
                    {
                        name: 'score-ready',
                        data: {
                            sender: this.id
                        }
                    }
                );
            },

            //
            // UTILS
            //

            _xRelativeToSVG: function (x) {
                var svg = this.$$('#' + this.id + '-svg');
                return this.grid.approxInf(x - svg.getBoundingClientRect().left);
            },

            _yRelativeToSVG: function (y) {
                var svg = this.$$('#' + this.id + '-svg');
                return y - svg.getBoundingClientRect().top;
            },

        });

    </script>

</dom-module>
