<dom-module id="raphael-rect-create">
  <template>
    <style>
    </style>
    <h2>Create rect</h2>
    <div id="rect-create"></div>
  </template>

  <script>
    Polymer({

      is: 'raphael-rect-create',
      ready: function () {

        this.paper = Raphael(
          "rect-create", "100%", 50
        );

      },
      listeners: {
        'track':'track',
        'tap':'tap'
      },

      tap: function () {
          alert('TAP');
      },

      track: function (e) {
          alert('TRACK');
        switch(e.detail.state) {
          case 'start':
            this.rectangle = this.paper.rect(
              e.detail.x, 0, 0, 50, 10
            ).attr (
              {
                fill: "#f00",
                stroke: "#fff",
                opacity: "0.2"
              }
            );
            break;
          case 'track':
            this.rectangle.attr({width: e.detail.dx});
            break;
        }
      }

    });
  </script>
</dom-module>
