<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="dez-inline-items">
  <template>
    <style>

    .item {
        display: inline;
        overflow: hidden ;
        cursor: pointer;
    }

    @media (max-width: 1280px) {

      .item {
        color: #607D8B;
        display: inline-block;
        padding-top: 26px;
        width: 2em;
      }

      .item::first-letter {
        color: white;
        font-weight: bold;
        font-size: 130%;
      }

    }

    </style>
    <template is="dom-repeat" items="{{items}}" as="item">
      <paper-item class="item" title="[[item.info]]" on-tap="_itemSelected">
        [[item.name]]
      </paper-item>
    </template>
  </template>

  <script>

  class DezInlineItems extends Polymer.Element {

    static get is() { return 'dez-inline-items'; }

    /**
    * Fired when an item is selected
    *
    * @event item-selected
    */

    static get properties() {
      return {
        items : Array
      };
    }

    _itemSelected (event) {
      this.dispatchEvent(new CustomEvent('item-selected', {
        detail : {
          index : event.model.index
        }
      }))
    }

  }

  window.customElements.define(DezInlineItems.is, DezInlineItems);

  </script>
</dom-module>
