<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dez-save-analysis-button">
  <template>
    <style>
    </style>

    <paper-icon-button class="hidden-xxs" icon="cloud-upload" title="save analysis (cloud)" on-tap="_openSaveDialog"></paper-icon-button>

    <paper-dialog id="saveDialog" entry-animation="fade-in-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2><iron-icon icon="cloud-upload"></iron-icon> &nbsp; Save analysis (public cloud)</h2>
      <paper-input label="Analysis name" value="{{_defaultAnalysisName}}" auto-validate pattern="[- _+()@a-zA-Z0-9]*" error-message="Letters, digits, spaces, symbols - + _ ( ) @"></paper-input>
      <p>
        <b>Shared public server.</b>
        On this public account, saved analysis <br /> may be read, replaced, or deleted by everyone.
        <br />
        <br />
        June 2019: Personal accounts are now available.
        <br />Please 
        <a href="mailto:dezrann@algomus.fr?Subject=Dezrann&Body=%0ADear%20Algomus%20team%2C%0A%0AI%20would%20like%20to%20see%20the%20following%20pieces%20in%20Dezran%20:%20...%0A%0AI%20would%20like%20to%20have%20an%20account%20to%20store%20analyses%20for%20my%20research/teaching/...%0A%0AI%20have%20the%20following%20suggestion%20/%20bug%20report:%20...%0A%0APlease%20keep%20me%20informed%20of%20the%20development%20of%20Dezrann.%0A%0ABest%20regards%2C%0A%0A">contact us</a>
        if you want that we setup an account for your teaching/research/...
        <br />You can also store <br />your analyses on files on your computer <br /> with the 'save'/'load' buttons.
      </p>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus  on-tap="_saveAs">OK</paper-button>
      </div>
    </paper-dialog>

    <iron-ajax
        id="AjaxPost"
        url={{analysesLocation}}
        method="POST"
        content-type="application/json"
        handle-as="json">
    </iron-ajax>

  </template>

  <script>

  class DezSaveAnalysisButton extends Polymer.Element {

      static get is() { return 'dez-save-analysis-button'; }

      static get properties() {
          return {
              selectedAnalysis : String,
              analysesLocation : String,
              analysisFiles : Array,
              analysesNames : Array,
              storedUser: {
                type : Object,
                observer : "_handleStoredUserChanged"
              }

          }
      }

      set dropdown (element) {
        this._dropdown = element
      }

      set analysis (analysis) {
        this._analysis = analysis
      }

      _openSaveDialog () {
          this._defaultAnalysisName = this.selectedAnalysis.replace(/ /g, "")
          this.$.saveDialog.open();
      }

      _handleStoredUserChanged () {
        let bearer = this.storedUser?'Bearer ' + this.storedUser.access_token:""
        if (bearer != this._bearer) {
          this._bearer = bearer
        }
      }

      async _saveAs () {
          await this._save();
          if (!this.analysesNames.includes(this._defaultAnalysisName)) {
              this.analysisFiles.push({
                  "name": this._defaultAnalysisName,
                  "location": this.analysesLocation
                        + "/" + this._defaultAnalysisName + ".dez"
              })
              this.push('analysesNames', this._defaultAnalysisName);
          }
          this._dropdown.name = this._defaultAnalysisName;
      }

      async _save () {
          this.$.AjaxPost.headers['Authorization'] = this._bearer
          this.$.AjaxPost.body = {
              "name": this._defaultAnalysisName + ".dez",
              "content": this._analysis.toJson()
          };
          let request = this.$.AjaxPost.generateRequest();
          try {
              await request.completes;
              this._analysis.backupNeeded = false;
          } catch (err) {
              console.log(err);
          }
      }

  }

  window.customElements.define(DezSaveAnalysisButton.is, DezSaveAnalysisButton);

  </script>
</dom-module>
