<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/dez-export-button/dez-export-button.html">
<link rel="import" href="../../bower_components/dez-analyses-dropdown/dez-analyses-dropdown.html">
<link rel="import" href="../../bower_components/dez-collab/dez-collab.html">
<link rel="import" href="../../bower_components/dez-open-file-button/dez-open-file-button.html">

<script src="../../bower_components/file-saver/dist/FileSaver.js"></script>

<link rel="import" href="dez-save-analysis-button.html">
<link rel="import" href="dez-save-file-button.html">
<link rel="import" href="dez-collab-mode-btn.html">

<dom-module id="dez-analysis-controls">
  <template>
    <style>
    </style>

    <dez-analyses-dropdown
      id="analysesDropdown"
      analyses="[[_analysesNames]]">
    </dez-analyses-dropdown>

    <template is="dom-if" if="[[_ableToSaveOnServer]]" on-dom-change="_initSaveButton">
      <dez-save-analysis-button
        id="saveAnalysisButton"
        analyses-location="[[location]]"
        selected-analysis="[[selectedAnalysis]]"
        stored-user="[[storedUser]]"
        analysis-files="{{_files}}"
        analyses-names="{{_analysesNames}}">
      </dez-save-analysis-button>
    </template>

    <dez-open-file-button
      id="dezInput"
      class="hidden-xs"
      on-tap="_onOpenFileTap"
      on-file-loaded="_loadNewAnalysis">
    </dez-open-file-button>

    <dez-save-file-button on-save-button-tap="_onSaveButtonTap"></dez-save-file-button>

    <dez-export-button
      id="exportButton"
      class="hidden-xs"
      export-data="[[_exportData]]">
    </dez-export-button>

    <template is="dom-if" if="[[collabOn]]" on-dom-change="_initCollab">
      <dez-collab-mode-btn id="collabModeBtn"></dez-collab-mode-btn>
      <dez-collab id="collab"></dez-collab>
    </template>

    <iron-ajax
      id="analysesRequest"
      handle-as="json"
      debounce-duration="300"
      on-response="_analysesReady"
      on-error="_analysesError">
    </iron-ajax>

  </template>

  <script>

  class DezAnalysisControls extends Polymer.Element {

      static get is() { return 'dez-analysis-controls'; }

      static get properties() {
        return {
          collabOn : {
            type : Boolean,
            value : false
          },
          pieceId: String,
          pieceName: String,
          location: {
            type : String,
            observer : "_handleLocationChanged"
          },
          storedUser: {
            type : Object,
            observer : "_handleStoredUserChanged"
          },
          piecePermissions: {
            type : Array,
            observer : "_handlePiecePermissionsChanged"
          }
        };
      }

      constructor () {
        super ()
        this._ableToSaveOnServer = false
        this._files = []
      }

      _collabOn () {
        let collabModeBtn = this.shadowRoot.querySelector('#collabModeBtn')
        return collabModeBtn && collabModeBtn.status == "on"
      }

      _handleLocationChanged () {
        this._requestForPieceAnalyses()
      }

      _requestForPieceAnalyses() {
        if (this.location) {
          this.$.analysesRequest.url = this.location
          if (this._bearer) {
            let payload = JSON.parse(window.atob(this.storedUser.access_token.split('.')[1]))
            if (payload.exp < Date.now()/1000) {
              this.storedUser = null
              this._bearer = ""
            }
          }
          this.$.analysesRequest.headers['Authorization'] = this._bearer
          this.$.analysesRequest.generateRequest()
        }
      }

      _handleStoredUserChanged () {
        let bearer = this.storedUser?'Bearer ' + this.storedUser.access_token:""
        if (bearer != this._bearer) {
          this._bearer = bearer
          this._requestForPieceAnalyses()
        }
      }

      _analysesReady (event) {
        this._files = event.detail.response.map(name => {
          return {
            "name": name.split(".dez")[0],
            "location": this.location + "/" + name
          }
        });
        this._updateAnalysesNames()
        if (this._collabOn()) {
          this._loadCollabAnalysis()
        } else {
          this._wantedAnalysisName = this._files[0].name
          this._changeAnalysis();
        }
      }

      _analysesError () {
        this.loadLocalAnalyses()
      }

      _handlePiecePermissionsChanged () {
        this._ableToSaveOnServer = this.piecePermissions.includes("all")
          || this.piecePermissions.includes("update-analysis")
      }

      _updateAnalysesNames () {
        this._analysesNames = this._files.map(a => a.name);
      }

      set confirmDialog (element) {
        this._confirmDialog = element
      }

      ready () {
        super.ready()
        this._ableToSaveOnServer = false
        Polymer.Gestures.addListener(
          this.$.exportButton,
          'tap',
          e => this._exportData = this._analysis.toJson()
        )
        this.$.analysesDropdown.addEventListener(
            'new-analysis-selected',
            e => {
                if (this.collabOn) return
                this._wantedAnalysisName = e.detail.name;
                if (this._analysis.backupNeeded) { // first selection (first load)
                    this._confirmDialog.open(() => this._changeAnalysis())
                } else {
                    this._changeAnalysis();
                }
            }
        );
        if (this.$.saveAnalysisButton) {
          this.$.saveAnalysisButton.dropdown = this.$.analysesDropdown
        }
      }

      set analysis (analysis) {
        this._analysis = analysis
        if (this.$.saveAnalysisButton) {
          this.$.saveAnalysisButton.analysis = this._analysis
        }
      }

      async _changeAnalysis () {
        this.selectedAnalysis = this._wantedAnalysisName;
        let file = this._files.filter(a => a.name == this._wantedAnalysisName)[0]
        if (file != undefined) {
          await this._analysis.loadAnalysisFrom(file.location)
          this._analysis.updateMeta({
            'title': this.pieceName,
            'name': this.selectedAnalysis
          })
          this.$.analysesDropdown.confirmSelected();
        }
      }

      /*
      FILE INPUT
       */
      _onOpenFileTap () {
        if (this._analysis.backupNeeded) {
          this._confirmDialog.open(() => this.$.dezInput.openDialog());
        } else {
          this.$.dezInput.openDialog()
        }
      }

      _onSaveButtonTap (event) {
        let data = ""
        let format = event.detail.format
        if (format == "csv") {
          data = this._analysis.toCSV()
        } else if (format == "dez") {
          data = this._analysis.toJson()
        }
        window.saveAs(
          new Blob(
            [data],
            {type: "text/plain;charset=utf-8"}
          ),
          this.pieceId + "." + format
        )
        this._analysis.backupNeeded = false
      }

      _loadNewAnalysis (event) {
        this._analysis.erase()
        let re = /(.*[^.]+)[.](.*)$/
        let match = re.exec(event.detail.name)
        let analysisName = match[1]
        let format = match[2]
        this._analysis.updateMeta({
          'title': this.pieceName,
          'name': analysisName
        })
        if (format == "dez") {
          this._analysis.loadJson(event.detail.content)
        } else if (format == "csv") {
          this._analysis.loadCSV(event.detail.content)
        } else {
          console.log('Format error!');
        }
        this.selectedAnalysis = analysisName
        this.$.analysesDropdown.name = this.selectedAnalysis + " *"
      }
      /*
      FILE INPUT END
       */

       loadLocalAnalyses () {
         this._ableToSaveOnServer = false
         this._files = [
           {
             "name" : "02-reference",
             "location": "../../corpus/bwv847/analyses/02-reference.dez"
           },
           {
             "name" : "computed",
             "location": "../../corpus/bwv847/analyses/computed.dez"
           },
           {
             "name" : "empty",
             "location": "../../corpus/bwv847/analyses/empty.dez"
           }
         ]
         this._updateAnalysesNames()
       }

       _loadCollabAnalysis () {
         let collab = this.shadowRoot.querySelector('#collab')
         collab.analysis = this._analysis
         this.selectedAnalysis = "collab"
         this.$.analysesDropdown.name = this.selectedAnalysis + " *"
         collab.enable()
       }

       _initCollab () {
         let collabModeBtn = this.shadowRoot.querySelector('#collabModeBtn')
         let collab = this.shadowRoot.querySelector('#collab')
         collabModeBtn.addEventListener('collab-mode-on', event => {
           if (this._analysis.backupNeeded) {
               this._confirmDialog.open(
                 () => this._loadCollabAnalysis(),
                 () => collabModeBtn.status = "off"
               );
           } else {
               this._loadCollabAnalysis()
           }
         })
         collabModeBtn.addEventListener('collab-mode-off', event => {
           collab.disable()
         })
         collab.addEventListener('client-disconnected', e => {
           if (collabModeBtn.status == "off") return
           let r = confirm("Are you going to use disconnect Mode?")
           if(r == false){
             location.reload()
           } else {
             console.log("disconnect mode")
           }
         })
       }

       _initSaveButton () {
         this.shadowRoot.querySelector('#saveAnalysisButton').analysis = this._analysis
       }


  }

  window.customElements.define(DezAnalysisControls.is, DezAnalysisControls);

  </script>
</dom-module>
