<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="fabric-view">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <canvas id="canvas" width="500" height="500">
        You browser does not support canvas!
    </canvas>
  </template>

  <script>
    Polymer({

      is: 'fabric-view',
      ready: function () {
        // create a wrapper around native canvas element (with id="c")
        var canvas = new fabric.Canvas('canvas');

        // create a rectangle object
        var rect = new fabric.Rect({
          left: 100,
          top: 100,
          fill: 'red',
          width: 100,
          height: 100,
          opacity: 0.2
        });

        // "add" rectangle onto canvas
        canvas.add(rect);
        console.log(canvas);
        canvas.renderAll();
      }

    });
  </script>
</dom-module>
