<dom-module id="raphael-view">
  <template>
    <style>
    </style>
    <h2>Fourre tout</h2>
    <div id="view"></div>
  </template>

  <script>
    Polymer({

      is: 'raphael-view',
      ready: function () {

        var paper = Raphael("view", "100%", 200);

        var image = paper.image(
          '../../images/02.png', 0,0, 8762/2, 477/2
        // ).drag(
        //   function (dx) {
        //     this.attr({x: this.ox + dx});
        //   },
        //   function (x) {
        //     this.ox = this.attr("x");
        //   }
        );
        var scaleStartBtn = paper.circle (
          -10, -10, 5
        ).attr (
          "fill", "white"
        ).attr(
          "stroke", ""
        );

        var scaleEndBtn = paper.circle (
          -10, -10, 5
        ).attr (
          "fill", "white"
        ).attr(
          "stroke", ""
        );

        var rectangle = paper.rect(
          370, 25, 260, 50, 10
        ).attr (
          {
            fill: "#f00",
            stroke: "#fff",
            opacity: "0.2",
            cursor: "grab"
          }
        ).drag (
          function (dx, dy) {
            if (this.scale) {
              this.attr({width: this.owidth + dx});
            } else {
              this.attr({x: this.ox + dx});
            }
          },
          function (x, event) {
            console.log("drag rect!")
            this.scale = false;
            if (x > this.attr("x") + this.attr("width") - 50) {
              this.scale = true;
            }
            this.owidth = this.attr("width");
            this.ox = this.attr("x");
            console.log(event);
            event.stopPropagation();
          }
        ).hover (
          function (icontext) {
            if (icontext.clientX > this.attr("x") + this.attr("width") - 50) {
              this.attr({cursor: "e-resize"});
            }
            // scaleStartBtn.attr(
            //   {
            //     cx: this.attr("x") + 15,
            //     cy: this.attr("y") + 25
            //   }
            // ).toFront();
            // scaleEndBtn.attr(
            //   {
            //     cx: this.attr("x") + this.attr("width") - 15,
            //     cy: this.attr("y") + this.attr("height") - 25
            //   }
            // ).toFront();
          },
          function () {
            // scaleStartBtn.toBack();
            // scaleEndBtn.toBack();
          }
        );
        var all = paper.set();
        all.push(rectangle,image);
        all.drag(
          function (dx) {
            var bb = all.getBBox();
            all.translate(all.oBB.x - bb.x + dx);
          },
          function () {
            console.log("drag all!")
            all.oBB = all.getBBox();
          }
        )
      }
    });
  </script>
</dom-module>
