<dom-module id="sc-scrollable-test">

    <template>
        <iron-signals on-iron-signal-scrolling="handleScrolling"></iron-signals>
        <img src="/images/02.png" height="200"></img>
    </template>

    <script>

        Polymer({

            is: 'sc-scrollable-test',

            handleScrolling: function (e, detail, sender) {
                console.log("Je suis scrollé! " + detail);
            }

        });
  </script>

</dom-module>
