<link rel="import" href="../dez-canvas/dez-canvas.html">

<!--

@demo ./demo/index.html Demo

-->

<dom-module id="dez-global">

    <template>

        <style>
        </style>

        <dez-canvas></dez-canvas>

    </template>

    <script>

        class DezGlobal extends Polymer.Element {

            static get is() { return 'dez-global'; }

        }

        customElements.define(DezGlobal.is, DezGlobal);

    </script>

</dom-module>
