
<div>
  
  <h3><b>Dezrann</b> &ndash; Interactive music analysis on the web</h3>
  
  <p>
    <i>Study, hear, and annotate scores on your web browser!</i>
  </p>
  
  <p>
    This is the <b>first preview of Dezrann</b>, that works now only on the <b>Chrome</b> web browser.
    <br />You can click anywhere on the score to add or edit labels.
    In this preview, the set of scores is limited.
   Saved analyses <br />are now on a public account and are regularly reset.
  </p>
  
  
  <h4>Next planned features</h4>

  <div>
    <h4 style='margin-bottom: 0;'>❄ Winter 2017</h4>
    <ul style='margin-top: 0;'>
      <li>more labels, more flexible label creation and edition</li>
      <li>user and group accounts to store analyses</li>
    </ul>
  </div>
  <div>
    <h4 style='margin-bottom: 0;'>☀ Summer 2018</h4>
    <ul style='margin-top: 0;'>
      <li>audio output <!-- , both midi and mp3 --> </li>
      <li>labels on waveforms</li>
    </ul>
  </div>
  
  <p>
    We also plan to add <i>collaborative features</i>
    and make Dezrann <i>fully responsive</i> for mobile and <br />tablet usage.
    To receive updates on Dezrann or to request early accesses,
    please <a href="mailto:dezrann@algomus.fr?Subject=Dezrann&Body=%0ADear%20Algomus%20team%2C%0A%0APlease%20keep%20me%20informed%20of%20the%20development%20of%20Dezrann.%0A%0ABest%20regards%2C%0A%0A">drop us a mail</a>.
  </p>

  <p>
    <i>Dezrann is developped by Emmanuel Leguy and the <a href="http://www.algomus.fr/">Algomus</a> computer music team.</i>
  <p>

</div>
