<dom-module id="raphael-scale-right">
  <template>
    <style>
    </style>
    <h2>Resize droit</h2>
    <div id="scale-right"></div>
  </template>

  <script>
    Polymer({

      is: 'raphael-scale-right',
      ready: function () {

        var paper = Raphael("scale-right", "100%", 50);

        var rectangle = paper.rect(
          370, 0, 260, 50, 10
        ).attr (
          {
            fill: "#f00",
            stroke: "#fff",
            opacity: "0.2"
          }
        ).drag (
          function (dx) {
            this.attr({width: this.owidth + dx});
          },
          function (x, event) {
            this.owidth = this.attr("width");
          }
        );
      }
    });
  </script>
</dom-module>
